*{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter !important;
    background-color: #202020;
    color: white;
    
    scroll-behavior: smooth;
}


.books-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px 10px;
   
    margin: auto !important;
    width: 70%;
    /* align-items: start; */
    /* justify-content: start */
}

.book{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    /* justify-content: center; */
    text-align: center;
    border: 1px solid white;
}
